---
- name: "MAIN >> SYNC NAUTOBOT TO KENTIK << MUST USE NAUTOBOT INVENTORY"
  hosts: all
  gather_facts: false
  vars_files:
    - ./vars/credentials.yml

  tasks:
    - name: Collect List of Sites from Nautobot
      ansible.builtin.uri:
        url: "https://{{ nautobot_host }}/api/dcim/locations/?limit=0"
        validate_certs: false
        headers:
          authorization: "Token {{ nautobot_token }}"
      register: nautobot_sites
      delegate_to: localhost
      run_once: true

    - name: Create the Site
      kentik.kentik_config.kentik_site:
        title: "{{ item['name'] }}"
        lat: "{{ item['latitude'] | int }}"
        lon: "{{ item['longitude'] | int }}"
        state: present
        email: "{{ kentik_user }}"
        token: "{{ kentik_token }}"
      delegate_to: localhost
      register: site_data
      run_once: true
      loop: "{{ nautobot_sites.json.results }}"

    - name: Gather Device Roles from Nautobot
      ansible.builtin.uri:
        url: "https://{{ nautobot_host }}/api/extras/roles/?limit=0"
        validate_certs: false
        headers:
          authorization: Token {{ nautobot_token }}
      register: nautobot_roles
      delegate_to: localhost
      run_once: true

    - name: Gather Tenants from Nautobot
      ansible.builtin.uri:
        url: "https://{{ nautobot_host }}/api/tenancy/tenants/?limit=0"
        validate_certs: false
        headers:
          authorization: Token {{ nautobot_token }}
      register: nautobot_tenants
      delegate_to: localhost
      run_once: true

    - name: Gather Tags from Nautobot
      ansible.builtin.uri:
        url: "https://{{ nautobot_host }}/api/extras/tags/?limit=0"
        validate_certs: false
        headers:
          authorization: Token {{ nautobot_token }}
      register: nautobot_tags
      delegate_to: localhost
      run_once: true

    - name: Create Device Role Labels
      kentik.kentik_config.kentik_label:
        name: "{{ item['name'] }}"
        color: "#{{ item['color'] }}"
        email: "{{ kentik_user }}"
        token: "{{ kentik_token }}"
      delegate_to: localhost
      loop: "{{ nautobot_roles.json.results }}"
      run_once: true

    - name: Create Tenant Labels
      kentik.kentik_config.kentik_label:
        name: "{{ item['name'] }}"
        color: "#00ff00"
        email: "{{ kentik_user }}"
        token: "{{ kentik_token }}"
      delegate_to: localhost
      loop: "{{ nautobot_tenants.json.results }}"
      run_once: true

    - name: Create Tags Labels
      kentik.kentik_config.kentik_label:
        name: "{{ item['name'] }}"
        color: "#{{ item['color'] }}"
        email: "{{ kentik_user }}"
        token: "{{ kentik_token }}"
      delegate_to: localhost
      loop: "{{ nautobot_tags.json.results }}"
      run_once: true

    - name: Set fact for labels
      ansible.builtin.set_fact:
        labels: "{{ device_roles + tenants + tags }}"

    - name: Print labels
      ansible.builtin.debug:
        var: labels

    - name: Create Device
      kentik.kentik_config.kentik_device:
        deviceName: "{{ inventory_hostname }}"
        deviceSampleRate: 10
        planName: Free Flowpak Plan
        siteName: "{{ location }}"
        sendingIps: ["{{ primary_ip4 }}"]
        deviceSnmpIp: "{{ primary_ip4 }}"
        deviceSnmpCommunity: kentik
        nms:
          agentId: "183"
          ipAddress: "{{ primary_ip4 }}"
          snmp:
            credentialName: snmp_v2_read_only
        labels: "{{ labels }}"
        email: "{{ kentik_user }}"
        token: "{{ kentik_token }}"
      delegate_to: localhost
